__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache

# Exclude development/pipeline scripts to slim down image
scripts/
ingest.py
pipeline.py
.pytest_cache
.hypothesi
scripts/
