fastapi
uvicorn
python-multipart
python-dotenv
huggingface-hub
optimum[onnxruntime]
transformers
pillow
llama-cpp-python
chromadb
langchain-community
sentence-transformers
better-profanity
prometheus-client
